.light {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  &__icon {
    width: 45px;
    height: 45px;
    background: $background;
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
    svg {
      width: 100%;
      height: 100%;
      //animation: Beat 1s ease-in-out infinite;
    }
  }
  &__menu {
    width: 45px;
    height: auto;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    //transition: .3s ease;
    &.visible {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    ul {
      width: 100%;
      height: auto;
      list-style: none;
      padding-top: 10px;
      li {
        width: 45px;
        height: 45px;
        margin-bottom: 5px;
        a {
          color: #fff;
          padding: 7px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 5px;
          border-radius: 100%;
          background: rgba(66,66,66,1);
          width: 45px;
          height: 45px;
          &:hover {
            color: darken(#fff, 10%);
            svg {
              fill: darken(#fff, 10%);
            }
          }
          svg {
            width: 100%;
            height: 100%;
            fill: #fff;
          }
        }
      }
    }
  }
}