<div class="light">    
    <div class="light__icon">
        {{> icon src="light.svg"}}
    </div>
    <div class="light__menu">
        <ul>
            <li>
                <a href="https://github.com/codewhynot/wnp-cli" target="_blank" rel="noopener">{{> icon src="github.svg"}}</a>
            </li>
            <li>
                <a href="https://www.npmjs.com/package/@wnp/cli" target="_blank" rel="noopener">{{> icon src="npm.svg"}}</a>
            </li>
        </ul>
    </div>
</div>