<div class="tabs__tab" id="favicons">
    <div class="tabs__title">Фавиконки</div>
    <div class="tabs__description">
        <p>В <b>wnp</b> подключение фавиконок так же является хелпером. И менять что то в самом файле нет необходимости. Если вы хотите заменить фавиконку вашего проекта, воспользуйтесь сервисом <a href="https://www.favicon-generator.org/" target="_blank" rel="noopener">Фавикон генератор</a></p>
        <ol>
            <li>Выберите <b>png картинку</b></li>
            <li>Загрузите в сервис</li>
            <li>Скачайте архив с готовыми картинками</li>
            <li>Переместите их по пути - <b>app/assets/favicons</b></li>
        </ol>
    </div>
</div>



