<div class="tabs__tab" id="helpers">
    <div class="tabs__title">Хелперы</div>
    <div class="tabs__description">
        <p>Хелперы или помощники, помогают переиспользовать повторяющиеся куски кода, и могут быть импортированы <b>в любой .hbs файл</b>, посредством шорткода:</p>
        <code class="inline dark"><span>{</span><span>{</span><span>></span> helperName<span>}</span><span>}</span></code>
        <p>Папку с хелперами - <b>handlebars</b> обрабатывает по пути <b>app/core/helpers</b>.</p>
    </div>
</div>