<div class="tabs__tab" id="images">
    <div class="tabs__title">Картинки</div>
    <div class="tabs__description">
        <p>Для картинок так же существует хелпер <b>(шорткод)</b> для того что бы вставить картинку в <b>любой .hbs файл</b>, достаточно импортировать его посредством шорткода:</p>
        <code class="inline dark"><span>{</span><span>{</span><span>></span> image src="imageName.ext" <span>}</span><span>}</span></code>
        <p>Где <b>imageName</b> название файла и <b>.ext</b> расширение файла (png, jpg, svg, webp, и.т.д.) </p>  
        <p><b>Handlebars</b> обрабатывает картинки по пути <b>app/assets/images</b>.</p>
    </div>
</div>



