<div class="tabs__tab" id="install">
    <div class="tabs__title">Установка</div>
    <div class="tabs__description">
        <p>Данный пакет нужно установить глобально, для того что бы можно было удобно управлять каждым проектом.</p>
        <p>Для установки используйте команду:</p>
        
        <code class="inline dark">npm i -g @wnp/cli</code>
    </div>
</div>