<div class="tabs__tab" id="paths">
    <div class="tabs__title">Пути</div>
    <div class="tabs__description">
        <p>В стилевых файлах предусмотрены пути для использования картинок, иконок и шрифтов.</p>
        <ul>
            <li>~images - app/assets/images</li>
            <li>~icons - app/assets/icons</li>
            <li>~fonts - app/assets/fonts</li>
        </ul>
        <p>То есть, если вы хотите установить <b>Background image</b> на какой нибудь елемент в пути достаточно указать: </p>
        <code class="inline dark">~images/imageName.ext</code>
    </div>
</div>










