<div class="tabs__tab" id="svg">
    <div class="tabs__title">SVG</div>
    <div class="tabs__description">
        <p><b>В любом из .hbs файлов</b> вы можете вставить <b>SVG иконку</b>, посредством шорткода:</p>
        <code class="inline dark"><span>{</span><span>{</span><span>></span> icon src="iconName.svg" <span>}</span><span>}</span></code>
        <p>Где <b>iconName</b> является <b>названием SVG файла который вы хотите импортировать</b>. <br> Расширение <b>.svg обязательно</b>, в противном случае <b>webpack</b> проигнорирует иконку и выведет её как простую картинку.
            <br> Иконки находятся по пути <b>app/assets/icons</b>.</p>
    </div>
</div>
