<div class="tabs">
    {{> tabs/install}}
    {{> tabs/commands}}
    {{> tabs/handlebars}}
    {{> tabs/helpers}}
    {{> tabs/svg}}
    {{> tabs/images}}
    {{> tabs/favicons}}
    {{> tabs/paths}}
</div>