<div class="example">
    <div class="example__image">
        {{> icon src='light.svg'}}
    </div>
    <div class="example__text">
        <p>Fast Whynotpack builder</p>
        <span>With love from <a href="https://github.com/codewhynot/whynotpack" target="_blank">(@codewhynot)</a></span>
    </div>
</div>