<div class="example">
    <div class="example__image">
        {{> icon src='light.svg'}}
    </div>
    <div class="example__text">
        <h1><span>Whynot</span>pack</h1>
    </div>
    <div class="example__intro">
        <h2>Fast introduction</h2>
        <code>npm install -g whynotpack-cli</code>
        <p>after</p>
        <code>mkdir projectname</code>
        <code>cd projectname</code>
        <p>and last</p>
        <code>whynotpack</code>
    </div>
    <div class="example__text">
        <span>If you want more <a href="/docs.html">Guide</a></span>
    </div>
</div>