<div class="example">
    <div class="example__image">
        {{> icon src='light.svg'}}
    </div>
    <div class="example__text">
        <h1><span>Whynot</span>pack</h1>
    </div>
    <div class="example__intro">
        <h2>Быстрый старт</h2>
        <code>npm install -g @wnp/cli</code>
        <p>после</p>
        <code>mkdir projectname</code>
        <code>cd projectname</code>
        <p>и</p>
        <code>wnp init</code>
    </div>
    <div class="example__text">
        <span class="example__link"><a href="#">Документация</a></span>
    </div>
</div>