<div class="sidebar">

    <ul class="sidebar__list">
        <li class="sidebar__item"><div class="sidebar__subtitle">Whynotpack-CLI</div></li>
        <li class="sidebar__item">
            <a href="#install" class="sidebar__link">{{> icon src="install.svg"}}Установка</a>
        </li>
        <li class="sidebar__item">
            <a href="#available_commands" class="sidebar__link">{{> icon src="commands.svg"}}Доступные команды</a>
        </li>
    </ul>

    <ul class="sidebar__list">
        <li class="sidebar__item"><div class="sidebar__subtitle">Whynotpack</div></li>
        <li class="sidebar__item">
            <a href="#handlebars" class="sidebar__link">{{> icon src="components.svg"}}Компоненты handlebars</a>
        </li>
        <li class="sidebar__item">
            <a href="#helpers" class="sidebar__link">{{> icon src="helpers.svg"}}Хелперы handlebars</a>
        </li>
        <li class="sidebar__item">
            <a href="#svg" class="sidebar__link">{{> icon src="svg.svg"}}Инлайновые SVG</a>
        </li>
        <li class="sidebar__item">
            <a href="#images" class="sidebar__link">{{> icon src="images.svg"}}Картинки в HTML</a>
        </li>
        <li class="sidebar__item">
            <a href="#favicons" class="sidebar__link">{{> icon src="favicons.svg"}}Фавиконки</a>
        </li>
        <li class="sidebar__item">
            <a href="#paths" class="sidebar__link">{{> icon src="paths.svg"}}Система путей</a>
        </li>
        <li class="sidebar__item dark">
            <a href="/" class="sidebar__link">{{>icon src="back.svg"}}Назад</a>
        </li>
    </ul>

</div>