* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: $roboto;
  font-weight: 300;
  color: #323232;
  &.menuIsOpen {
    overflow: hidden!important;
  }
}

code {
  background: #e4e4e4;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.3);
  display: block;
  color: #323232;
  text-align: center;
  font-size: 16px;
  user-select: all!important;
  &.inline {
    display: inline-block;
  }
  &.dark {
    background: $background;
    color: #d0d0d0;
  }
  @include max(600) {
    padding: 8px;
    font-size: 12px;
  }
}
