* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: $roboto;
  font-weight: 300;
  color: #323232;
  &.menuIsOpen {
    overflow: hidden!important;
  }
}

code {
  background: #e4e4e4;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.3);
  display: block;
  color: #323232;
  text-align: center;
  font-size: 16px;
  user-select: all!important;
  &.inline {
    display: inline-block;
  }
  &.dark {
    background: $background;
    color: #d0d0d0;
  }
  @include max(600) {
    padding: 8px;
    font-size: 12px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

.wnp-notify {
  width: 300px;
  height: auto;
  margin: 10px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: lighten(#5291AE, 10%);
  color: #fff;
  position: relative;
  padding-left: 60px;
  padding-right: 30px;
  transform: scale(0.5);
  opacity: 0;
  transition: .3s ease;
  @include max(600) {
    width: calc(100% - 20px);
  }
  &.isVisible {
    transform: scale(1);
    opacity: 1;
  }
  &.error {
    background: #C74444;
  }
  &.success {
    background: #3EB56E;
  }
  &__wrapper {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    font-family: 'Roboto', sans-serif;
    @include max(600) {
      width: 100%;
    }
    &.isVisible {
      opacity: 1;
      visibility: visible;
    }
  }
  &__close {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 5px;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &::after {
      content: '✖';
      color: #fff;
      font-size: 16px;
      font-weight: 300;
      line-height: 1;
    }
  }
  &__description {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 0;
  }
  &__text {
    font-weight: 300;
    font-size: 16px;
    margin: 5px 0;
    user-select: none;
    line-height: 1.5;
  }
  &__desc {
    font-weight: 300;
    font-size: 13px;
    cursor: pointer;
    user-select: none;
    line-height: 1;
  }
  &__icon {
    width: 40px;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #5291AE;
      flex-shrink: 0;
      z-index: 0;
      .error & {
        background: #A90D0E;
      }
      .success & {
        background: #319F5D;
      }
    }
    &::after {
      content: '!';
      flex-shrink: 0;
      position: relative;
      font-size: 20px;
      z-index: 1;
      font-weight: 600;
      line-height: 1;
      color: #fff;
      .success & {
        content: '✔';
      }
      .error & {
        content: '✖';
      }
    }
  }
}