<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Краткий гайд по использованию Whynotpack">
    <meta property="og:title" content="Whynotpack | Документация">
    <meta property="og:site_name" content="Whynotpack">
    <meta property="og:url" content="https://whynotpack.github.io/docs.html#install">
    <meta property="og:description" content="Краткий гайд по использованию Whynotpack">
    <meta property="og:image" content="https://whynotpack.github.io/assets/images/og_image.png">
    <meta property="og:image:secure_url " content="https://whynotpack.github.io/assets/images/og_image.png">
    {{> favicons}}
    <title>Whynotpack | Документация</title>
</head>
<body>

    {{> docs/docs}}

</body>
</html>
