<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Whynotpack - простой сборщик для верстки">
    {{> favicons}}
    <title>Whynotpack | Простой сборщик для верстки</title>
</head>
<body>

{{> intro/intro}}

</body>
</html>