<div class="burger">
    <div class="burger__icon">
        <div class="burger__open">
            {{> icon src="light.svg"}}
        </div>
        <div class="burger__close">
            {{> icon src="cancel.svg"}}
        </div>
    </div>
</div>