<div id="cli" class="cli">
    <div class="cli__title">Whynotpack-cli</div>
    <div class="cli__description">
        <p>Whynotpack command line interface - удобная утилита для управления сборщиком <span>Whynotpack</span></p>
    </div>
    <div class="cli__image">

    </div>
</div>