{{> light/light}}
<div class="docs">
    <div class="docs__grid">
        <div class="docs__sidebar">
            <div class="docs__subtitle back"><a href="/">{{>icon src="back.svg"}}Назад</a></div>
            <ul class="docs__list">
                <li class="docs__item"><div class="docs__subtitle"><a href="#cli">Whynotpack-CLI</a></div></li>
                <li class="docs__item">
                    <a href="#install" class="docs__link">{{> icon src="install.svg"}}Установка</a>
                </li>
                <li class="docs__item">
                    <a href="#available_commands" class="docs__link">{{> icon src="commands.svg"}}Доступные команды</a>
                </li>
            </ul>

            <ul class="docs__list">
                <li class="docs__item"><div class="docs__subtitle"><a href="#app">Whynotpack</a></div></li>
                <li class="docs__item">
                    <a href="#handlebars" class="docs__link">{{> icon src="components.svg"}}Компоненты handlebars</a>
                </li>
                <li class="docs__item">
                    <a href="#helpers" class="docs__link">{{> icon src="helpers.svg"}}Хелперы handlebars</a>
                </li>
                <li class="docs__item">
                    <a href="#svg" class="docs__link">{{> icon src="svg.svg"}}Инлайновые SVG</a>
                </li>
                <li class="docs__item">
                    <a href="#images" class="docs__link">{{> icon src="images.svg"}}Картинки в HTML</a>
                </li>
                <li class="docs__item">
                    <a href="#favicons" class="docs__link">{{> icon src="favicons.svg"}}Фавиконки</a>
                </li>
                <li class="docs__item">
                    <a href="#paths" class="docs__link">{{> icon src="paths.svg"}}Система путей</a>
                </li>
            </ul>
        </div>
        <div class="docs__content">
            {{> cli/cli}}
        </div>
    </div>
</div>